<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Charts!</title>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script type='text/javascript'>

    google.charts.load('current', {
        callback: function() {
            var firstrun = true;

            var d1 = new google.visualization.DataTable({
                cols: [{id: 'date_time', label: 'Date', type: 'datetime'},
                       {id: 'wtemp', label: 'Water Temp', type: 'number'},
                       {id: 'target', label: 'Target Temp', type: 'number'},
                       {id: 'indc', label: 'Intake Fan Speed %', type: 'number'}]
            });

            var options = {
                            hAxis: {
                              format: 'HH:mm' },
                            vAxis: {
                              title: 'Celsius / Percent',
                              baseline: 0,
                              viewWindow: {
                                  max: 100
                              }
                            }
                        };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(d1, options);

            var d2 = new google.visualization.DataTable();

            var keys = [];
            for (var i = 0; i < d1.getNumberOfColumns(); i++) {
                keys.push([i, i]);
            }

            var t = Date.now() - 10800000;
            var dummy = new Date();
            var n = dummy.getTimezoneOffset() / 60;

            var dateFormat = new google.visualization.DateFormat({formatType: 'long', timeZone: -n});

            $.ajax({
                    url: 'getdata/'+(Date.now() - t).toString(),
                    type: 'GET',
                    dataType: 'json',
                    success: function (resp) {
                        d2 = new google.visualization.DataTable(resp);

                        for (var i = 0; i < d2.getNumberOfRows(); i++) {
                            var d = d2.getValue(i, 0);
                            d.setHours(d.getHours() - n);
                            d2.setValue(i, 0, d);
                        }

                        d1 = google.visualization.data.join(d1, d2, 'full', keys, [], []);
                        dateFormat.format(d1, 0);
                    }
            });

            t = Date.now();

            drawChart();

            setInterval(drawChart, 5000);

            function drawChart() {
                $.ajax({
                    url: 'getdata/'+(Date.now() - t).toString(),
                    type: 'GET',
                    dataType: 'json',
                    success: function (resp) {
                        d2 = new google.visualization.DataTable(resp);

                        for (var i = 0; i < d2.getNumberOfRows(); i++) {
                            var d = d2.getValue(i, 0);
                            d.setHours(d.getHours() - n);
                            d2.setValue(i, 0, d);
                        }

                        if (!firstrun) {
                            for (var x = 0; x < d2.getNumberOfRows(); x++) {
                                d1.removeRow(x);
                            }
                        }

                        else {
                            firstrun = false;
                        }

                        d1 = google.visualization.data.join(d1, d2, 'full', keys, [], []);
                        dateFormat.format(d1, 0);

                        chart.draw(d1, options);

                        t = Date.now();
                    }
                });
            }
        },
        packages: ['corechart']
    })

    </script>

    <script type="text/javascript">
		update();
        function update() {
            $.ajax({
                url: 'settings/',
                type: 'GET',
                dataType: 'json',
                success: function (resp) {
                    document.getElementById("bias").value = resp.bias;
                    document.getElementById("kp").value = resp.kp;
                    document.getElementById("ki").value  = resp.ki;
                    document.getElementById("kd").value  = resp.kd;
                    document.getElementById("target").value  = resp.target;
                    document.getElementById("use_pid").checked  = resp.use_pid;
                    document.getElementById("mandc").value  = resp.mandc;
                }
            });
        }

        function sub() {
            var data = {};
            data.bias = document.getElementById("bias").value;
            data.kp = document.getElementById("kp").value;
            data.ki = document.getElementById("ki").value;
            data.kd = document.getElementById("kd").value;
            data.target = document.getElementById("target").value;
            data.use_pid = document.getElementById("use_pid").checked;
            data.mandc = document.getElementById("mandc").value;
            $.ajax({
                url: 'settings/',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function() {
                    alert('Settings applied successfully!')
                }
            });
        }

    </script>

    <script>

        getstats();
        setInterval(getstats, 6000);
        function getstats() {
            $.ajax({
                url:'stats/',
                type: 'GET',
                dataType: 'json',
                success: function(resp) {
                    document.getElementById("itn").innerText = resp.intemp_min.toFixed(1);
                    document.getElementById("ita").innerText= resp.intemp_avg.toFixed(1);
                    document.getElementById("itx").innerText = resp.intemp_max.toFixed(1);
                    document.getElementById("ihn").innerText = resp.inhum_min.toFixed(1);
                    document.getElementById("iha").innerText = resp.inhum_avg.toFixed(1);
                    document.getElementById("ihx").innerText = resp.inhum_max.toFixed(1);
                    document.getElementById("et1n").innerText = resp.extemp1_min.toFixed(1);
                    document.getElementById("et1a").innerText = resp.extemp1_avg.toFixed(1);
                    document.getElementById("et1x").innerText= resp.extemp1_max.toFixed(1);
                    document.getElementById("ehn").innerText = resp.exhum_min.toFixed(1);
                    document.getElementById("eha").innerText = resp.exhum_avg.toFixed(1);
                    document.getElementById("ehx").innerText = resp.exhum_max.toFixed(1);
                    document.getElementById("et2n").innerText = resp.extemp2_min.toFixed(1);
                    document.getElementById("et2a").innerText = resp.extemp2_avg.toFixed(1);
                    document.getElementById("et2x").innerText = resp.extemp2_max.toFixed(1);
                    document.getElementById("wtn").innerText = resp.wtemp_min.toFixed(1);
                    document.getElementById("wta").innerText = resp.wtemp_avg.toFixed(1);
                    document.getElementById("wtx").innerText = resp.wtemp_max.toFixed(1);
                    document.getElementById("wn").innerText = resp.watts_min.toFixed(1);
                    document.getElementById("wa").innerText = resp.watts_avg.toFixed(1);
                    document.getElementById("wx").innerText = resp.watts_max.toFixed(1);
                }
            })
        }

        function resetstats() {
            document
                .getElementById("reset")
                .addEventListener("click", function(e) {
                    if(! confirm("Do you really want to reset statistical history? (Cannot be undone!)")){
                        e.preventDefault();
                    } else{
                        $.ajax({
                            url:'stats/',
                            type: 'POST',
                            success: function () {
                                alert('Statistical history reset!')
                            }
                        });
                    }
                })
        }

        getrtd();
        setInterval(getrtd, 1000);

        function getrtd() {
            $.ajax({
                url: 'rtd/',
                type: 'GET',
                dataType: 'json',
                success: function (resp) {
                    document.getElementById("int").innerText = resp[0].intemp;
                    document.getElementById("inh").innerText = resp[0].inhum;
                    document.getElementById("inr1").innerText = resp[0].inrpm1;
                    document.getElementById("inr2").innerText = resp[0].inrpm2;
                    document.getElementById("ext1").innerText = resp[0].extemp1;
                    document.getElementById("exh").innerText = resp[0].exhum;
                    document.getElementById("ex1r").innerText = resp[0].exrpm1;
                    document.getElementById("ex2r").innerText = resp[0].exrpm2;
                    document.getElementById("ext2").innerText = resp[0].extemp2;
                    document.getElementById("ex3r").innerText = resp[0].exrpm3;
                    document.getElementById("prpm").innerText = resp[0].prpm;
                }
            })
        }
    </script>

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/static/images/favicon.png">

</head>

<body>
<h1 style="position: absolute;left: 20px;top: 10px;">RPI Fan Controller</h1>
<div id="chart_div"  style="width: 1450px; height: 700px;position: absolute;left: 10px;top: 130px;"></div>
<div id="settings" style="position: absolute;width: 400px;height: 390px;top: 270px;left: 1480px;">
    <form style="display: table">
        <p style="display: table-row">
            <label for="bias" style="display: table-cell">Exhaust vs Intake:</label>
            <input type="number" name="bias" id="bias" style="display: table-cell" step="any">
        </p>
        <p style="display: table-row">
            <label for="kp" style="display: table-cell">PID P coefficient:</label>
            <input type="number" name="kp" id="kp" style="display: table-cell" step="any">
        </p>
        <p style="display: table-row">
            <label for="ki" style="display: table-cell">PID I coefficient:</label>
            <input type="number" name="ki" id="ki" style="display: table-cell" step="any">
        </p>
        <p style="display: table-row">
            <label for="kd" style="display: table-cell">PID D coefficient:</label>
            <input type="number" name="kd" id="kd" style="display: table-cell" step="any">
        </p>
        <p style="display: table-row">
            <label for="target" style="display: table-cell">Target Water Temp:</label>
            <input type="number" name="target" id="target" style="display: table-cell" step="any">
        </p>
        <p style="display: table-row">
            <label for="use_pid" style="display: table-cell">Automatic Fan Ctl:</label>
            <input type="checkbox" name="use_pid" id="use_pid" style="display: table-cell;position: relative;top: 5px;">
        </p>
        <p style="display: table-row">
            <label for="mandc" style="display: table-cell">Manual Fan Speed%:</label>
            <input type="range" name="mandc" id="mandc" min="20" max="100" step="5" style="display: table-cell;position: relative;top: 18px;">
        </p>
        <button type="button" onclick="update();" style="position: relative;top: 18px;left: 60px;">Update</button>
        <button type="button" onclick="sub();" style="position: relative;top: -30px;left: 210px;">Submit</button>
    </form>
</div>
<div style="position: absolute;top: 780px;left: 256px;">
    <style>
        th {text-align: center;}
        td {text-align: center;}
    </style>
    <table id="statistics" style="justify-content: center">
		<tr>
			<th colspan="3">Intake Temperature</th>
			<th colspan="3">Intake Humidity</th>
			<th colspan="3">Top Exhaust Temperature</th>
			<th colspan="3">Top Exhaust Humidity</th>
			<th colspan="3">Rear Exhaust Temperature</th>
			<th colspan="3">Water Temperature</th>
			<th colspan="3">Cooling Power</th>
		</tr>
		<tr>
			<td>Min</td>
			<td>Avg</td>
			<td style="border-right: 1px solid #E1E1E1">Max</td>
			<td>Min</td>
			<td>Avg</td>
			<td style="border-right: 1px solid #E1E1E1">Max</td>
			<td>Min</td>
			<td>Avg</td>
			<td style="border-right: 1px solid #E1E1E1">Max</td>
			<td>Min</td>
			<td>Avg</td>
			<td style="border-right: 1px solid #E1E1E1">Max</td>
			<td>Min</td>
			<td>Avg</td>
			<td style="border-right: 1px solid #E1E1E1">Max</td>
			<td>Min</td>
			<td>Avg</td>
			<td style="border-right: 1px solid #E1E1E1">Max</td>
			<td>Min</td>
			<td>Avg</td>
			<td>Max</td>
		</tr>
		<tr>
			<td id = "itn"></td>
			<td id = "ita"></td>
			<td id = "itx" style="border-right: 1px solid #E1E1E1"></td>
			<td id = "ihn"></td>
			<td id = "iha"></td>
			<td id = "ihx" style="border-right: 1px solid #E1E1E1"></td>
			<td id = "et1n"></td>
			<td id = "et1a"></td>
			<td id = "et1x" style="border-right: 1px solid #E1E1E1"></td>
			<td id = "ehn"></td>
			<td id = "eha"></td>
			<td id = "ehx" style="border-right: 1px solid #E1E1E1"></td>
			<td id = "et2n"></td>
			<td id = "et2a"></td>
			<td id = "et2x" style="border-right: 1px solid #E1E1E1"></td>
			<td id = "wtn"></td>
			<td id = "wta"></td>
			<td id = "wtx" style="border-right: 1px solid #E1E1E1"></td>
			<td id = "wn"></td>
			<td id = "wa"></td>
			<td id = "wx"></td>
	</table>
    <button id="reset" type="button" onclick="resetstats();" style="position: relative;left: 1294px;top: -95px;">Reset</button>
</div>
<div style="position: absolute;left: 10px;top: 70px;">
    <style>
        th {text-align-all: center;}
        td {text-align: center;}
    </style>

    <table id="realtimedata" style="justify-content: center">
        <tr>
            <th>Intake Temperature</th>
            <th>Intake Relative Humidity</th>
            <th>Intake Fan1 RPM</th>
            <th>Intake Fan2 RPM</th>
            <th>Top Exhaust Temperature</th>
            <th>Top Exhaust Relative Humidity</th>
            <th>Top Exhaust Fan 1 RPM</th>
            <th>Top Exhaust Fan 2 RPM</th>
            <th>Rear Exhaust Temperature</th>
            <th>Rear Exhaust Fan RPM</th>
            <th>Pump RPM</th>
        </tr>
        <tr>
            <td id="int" style="border-right: 1px solid #E1E1E1"></td>
            <td id="inh" style="border-right: 1px solid #E1E1E1"></td>
            <td id="inr1" style="border-right: 1px solid #E1E1E1"></td>
            <td id="inr2" style="border-right: 1px solid #E1E1E1"></td>
            <td id="ext1" style="border-right: 1px solid #E1E1E1"></td>
            <td id="exh" style="border-right: 1px solid #E1E1E1"></td>
            <td id="ex1r" style="border-right: 1px solid #E1E1E1"></td>
            <td id="ex2r" style="border-right: 1px solid #E1E1E1"></td>
            <td id="ext2" style="border-right: 1px solid #E1E1E1"></td>
            <td id="ex3r" style="border-right: 1px solid #E1E1E1"></td>
            <td id="prpm"></td>
        </tr>
    </table>
</div>
</body>

</html>